@import models.POJO.Channel.ChannelItem
@import models.POJO.SearchResults.SearchResults
@(searchResults: SearchResults)(channelItem: ChannelItem)(implicit messages: play.i18n.Messages)

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Channel Information</title>
</head>
<body>
<h1>Channel Information</h1>
<div>
    @if(channelItem != null){
    <h4>Channel Id: @channelItem.getId()</h4>
    <h4>Title: @channelItem.getSnippet().getTitle()</h4>
    <h4>Description : @channelItem.getSnippet().getDescription()</h4>
    <h4>Custom URL: @channelItem.getSnippet().getCustomUrl()</h4>
    <h4>Published At: @channelItem.getSnippet().getPublishedAt()</h4>
    <h4>Country: @channelItem.getSnippet().getCountry()</h4>
    <h4>View Count: @channelItem.getChannelStatistics().getViewCount()</h4>
    <h4>Subscriber Count: @channelItem.getChannelStatistics().getSubscriberCount()</h4>
    <h4>Video Count: @channelItem.getChannelStatistics().getVideoCount()</h4>
    } else {
    <h2 style="color: red">Error: Not Found</h2>
    }

    <h2>Top 10 Videos</h2>
    @if(searchResults != null){
    <ul>
        @for(item <- searchResults.getItems()) {
        <hr style="width:50%;text-align:left;margin-left:0">
        @if(item != null) {
        <li><a href="https://www.youtube.com/watch?v=@item.getId().getVideoId()" target="_blank">@item.getSnippet().getTitle()</a></li>
        <li><b>Description: </b> @item.getSnippet().getDescription()</li>
        <li><b>Publish Time: </b>@item.getSnippet().getPublishedAt()</li>
        }
        }
    </ul>
    }else {
    <h2 style="color: red">Error: Not Found</h2>
    }
</div>
</body>
</html>