@import models.SearchResults.SearchResults
@import models.Channel.ChannelItem
@(searchResults: SearchResults)(channelItem: ChannelItem)(implicit messages: play.i18n.Messages)

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Channel Information</title>
</head>
<body>
<h1>Channel Information</h1>
<div>
    @if(channelItem != null){
    <h4>Channel Id: @channelItem.id</h4>
    <h4>Title: @channelItem.snippet.title</h4>
    <h4>Description : @channelItem.snippet.description</h4>
    <h4>Custom URL: @channelItem.snippet.customUrl</h4>
    <h4>Published At: @channelItem.snippet.publishedAt</h4>
    <h4>Country: @channelItem.snippet.country</h4>
    <h4>View Count: @channelItem.channelStatistics.viewCount</h4>
    <h4>Subscriber Count: @channelItem.channelStatistics.subscriberCount</h4>
    <h4>Video Count: @channelItem.channelStatistics.videoCount</h4>
    }
    @if(searchResults != null){
    <h2>Top 10 Videos</h2>
    <ul>
        @for(item <- searchResults.items) {
        <hr style="width:50%;text-align:left;margin-left:0">
        @if(item != null) {
        <li><a href="https://www.youtube.com/watch?v=@item.id.videoId" target="_blank">@item.snippet.title</a></li>
        <li><b>Description: </b> @item.snippet.description</li>
        <li><b>Publish Time: </b>@item.snippet.publishedAt</li>
        }
        }
    </ul>
    }
</div>
</body>
</html>