@import models.SearchResults.SearchResults
@(searchForm: Form[Search], searchResults: SearchResults)(searchKeywords: Array[String])(implicit messages: play.i18n.Messages)


<html>
<head>
    <title>Youtube Analyzer</title>
</head>
<body>
<section id="content">
    <h1>Youtube Analyzer</h1>
    <br/><br/>
    @helper.form(action = routes.YoutubeAnalyzerController.fetchVideosByKeywords()) {
    @helper.inputText(searchForm("searchKeyword"))
    <input type="submit" value="Search">
    }
    <div>
        @if(searchResults != null) {
        <ol>
            @if(searchKeywords!=null && searchKeywords.length > 0){
            @for(searchKeyword <- searchKeywords){
            <a href='@routes.YoutubeAnalyzerController.fetchSimilarityStats(searchKeyword)'>@searchKeyword</a>
            }
            }
            @for(item <- searchResults.items) {
            <hr style="width:50%;text-align:left;margin-left:0">
            @if(item != null) {
            <li>@item.snippet.title, <b>@item.snippet.channelTitle</b>
                ,@item.viewCount ,@item.snippet.publishTime
            </li>
            }
            }
        </ol>
        }
    </div>
</section>
</body>
</html>